<!DOCTYPE html><!-- Definicion de tipo de documento -->
<html lang="en"><!-- Apertura de la pagina html -->
<head><!-- Encabezado de la pagina html -->
    <meta charset="UTF-8"><!-- Codificacion de Caracteres especiales  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Laboratorio_1</title>
</head>
<body><!-- Contenido de la pagina html -->
    <div class="container" id="app">
        <div class="row">
            <div class="col-12 col-md-6">
                <div style="width: 60rem;" class="card border-primary">
                    <div class="card-header bg-primary text-white" style="width: 60rem;">REGISTRO DE ALUMNOS</div>
                    <div class="card-body">
                        <form id="frmAlumno" @submit.prevent="guardarAlumno" @reset.prevent="nuevoAlumno()">
                            <div class="row p-1">
                                <div class="col-3 col-md-2">CODIGO:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.codigo" name="txtCodigoAlumno" id="txtCodigoAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">NOMBRE:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.nombre" name="txtNombreAlumno" id="txtNombreAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">DIRECCION:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.direccion" name="txtDireccionAlumno" id="txtDireccionAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">MUNICIPIO:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.municipio" name="txtMunicipioAlumno" id="txtMunicipioAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">DEPARTAMENTO:</div>
                                <div class="col-9 col-md-6">
                                 <select class="form-control" type="text" v-model="alumno.departamento" name="txtDepartamentoAlumno" id="txtDepartamentoAlumno">
                                    <option value="LA UNION">LA UNION</option>
                                    <option value="SAN MIGUEL">SAN MIGUEL</option>
                                    <option value="USULUTAN">USULUTAN</option>
                                    <option value="SAN VICENTE">SAN VICENTE</option>
                                    <option value="LA PAZ">LA PAZ</option>
                                    <option value="SAN SALVADOR">SAN SALVADOR</option>
                                    <option value="CABAÑAS">CABAÑAS</option>
                                    <option value="SANTA ANA">SANTA ANA</option>
                                    <option value="SONSONATE">SONSONATE</option>
                                    <option value="AHUACHAPAN">AHUACHAPAN</option>
                                    <option value="LA LIBERTAD">LA LIBERTAD</option>
                                    <option value="CHALATENANGO">CHALATENANGO</option>
                                    <option value="CUSCATLAN">CUSCATLAN</option>
                                    <option value="MORAZAN">MORAZAN</option>
                                 </select>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">TELEFONO:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="text" v-model="alumno.telefono" name="txtTelefonoAlumno" id="txtTelefonoAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-3">FECHA DE NACIMIENTO:</div>
                                <div class="col-9 col-md-6">
                                    <input class="form-control" type="date" v-model="alumno.fechadenacimiento" name="txtFechadeNacimientoAlumno" id="txtFechadeNacimientoAlumno">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-3 col-md-2">SEXO:</div>
                                <div class="col-9 col-md-6">
                                 <select class="form-control" type="text" v-model="alumno.sexo" name="txtSexoAlumno" id="txtSexoAlumno">
                                    <option value="MASCULINO">MASCULINO</option>
                                    <option value="FEMENINO">FEMENINO</option>
                                    </select>
                                </div>
                            <div class="row p-1">
                                <div class="col col-md-8">
                                    <br>
                                    <input class="btn btn-success" type="submit" value="Guardar Datos">
                                </div>
                                <div class="col col-md-4">
                                    <br>
                                    <input class="btn btn-warning" type="reset" value="Nuevo Registro">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
                    <div class="card-body">
                        <form>
                            <div class="alert alert-primary" role="alert">
                                CONSULTA DE ALUMNOS</div>
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>BUSCAR:</th>

                                        <th colspan="8"><input type="text" @keyup="listarAlumnos()" v-model="buscar" 
                                            class="form-control" placeholder="Buscar por nombre" ></th>
                                    </tr>
                                    <tr>
                                        <th>CODIGO:</th>
                                        <th colspan="1">NOMBRE:</th>
                                        <th colspan="1">DIRECCION:</th>
                                        <th colspan="1">MUNICIPIO:</th>
                                        <th colspan="1">DEPARTAMENTO:</th>
                                        <th colspan="1">TELEFONO:</th>
                                        <th colspan="1">FECHA DE NACIMIENTO:</th>
                                        <th colspan="1">SEXO:</th>
                                        <th colspan="1"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="alumno in alumnos" @click='modificarAlumno(alumno)' :key="alumno.idAlumno">
                                        <td>{{alumno.codigo}}</td>
                                        <td>{{alumno.nombre}}</td>
                                        <td>{{alumno.direccion}}</td>
                                        <td>{{alumno.municipio}}</td>
                                        <td>{{alumno.departamento}}</td>
                                        <td>{{alumno.telefono}}</td>
                                        <td>{{alumno.fechadenacimiento}}</td>
                                        <td>{{alumno.sexo}}</td>
                                        <td><button @click.prevent="eliminarAlumno(alumno)" class="btn btn-danger">Eliminar</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    buscar: '',
                    alumnos:[],
                    accion : 'nuevo',
                    alumno:{
                        idAlumno:0,
                        codigo:'',
                        nombre:'',
                        direccion:'',
                        municipio:'',
                        departamento:'',
                        telefono:'',
                        fechadenacimiento:'',
                        sexo:''
                    }
                }
            },
            methods:{
                nuevoAlumno(){
                    this.accion = 'nuevo';
                    this.alumno.idAlumno = '';
                    this.alumno.codigo = '';
                    this.alumno.nombre = '';
                    this.alumno.direccion = '';
                    this.alumno.municipio = '';
                    this.alumno.departamento = '';
                    this.alumno.telefono = '';
                    this.alumno.fechadenacimiento = '';
                    this.alumno.sexo = '';
                },
                modificarAlumno(alumno){
                    this.accion = 'modificar';
                    this.alumno = alumno;
                },
                guardarAlumno(){
                    this.listarAlumnos();
                    if( this.accion==='nuevo' ){
                        this.alumno.idAlumno = new Date().getTime().toString(16);//las cantidad milisegundos y lo convierte en hexadecimal
                        this.alumnos.push( JSON.parse(JSON.stringify(this.alumno)) );
                    }else if(this.accion==='modificar'){
                        //hacer la busqueda y modificar el registro
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumno==this.alumno.idAlumno);
                        this.alumnos[index] = JSON.parse(JSON.stringify(this.alumno));
                    }else if(this.accion==='eliminar'){
                        let index = this.alumnos.findIndex(alumno=>alumno.idAlumnos==this.alumno.idAlumno);
                        this.alumnos.splice(index, 1);
                    }
                    localStorage.setItem('alumnos', JSON.stringify(this.alumnos));
                    this.nuevoAlumno();
                },
                eliminarAlumno(alumno){
                    if( confirm(`Esta seguro de eliminar este alumno ${alumno.nombre}?`) ){
                        this.accion="eliminar";
                        this.alumno = alumno;
                        this.guardarAlumno();
                    }
                },
                listarAlumnos(){
                    this.alumnos = JSON.parse( localStorage.getItem('alumnos') || "[]" )
                        .filter(alumno=>alumno.nombre.toLowerCase().indexOf(this.buscar.toLowerCase())>-1);
                }
            },
            created(){
                this.listarAlumnos();
            }
        }).mount('#app')
    </script>
</body>
</html>